body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: black;
  color: white;
  text-align: center;
}

.screen {
  display: none;
  min-height: 100vh;
  padding-top: 35vh;
}

.screen.active {
  display: block;
}

button {
  padding: 14px 28px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
}

#countdown {
  font-size: 4rem;
  margin: 20px 0;
  color: gold;
}
